<!-- Paginated Posts -->
<article>
  <style type="text/css" media="screen">
	.no-bullets {
	    list-style-type: none;
	}
	.center {
	    text-align: center;
	}
  </style>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="archive">
    {% for post in paginator.posts %}
    <li class="no-bullets">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      >>
      <b> <a href="{{ post.url | relative_url }}"> &nbsp; {{ post.title }} </a> </b>
      <br>
    </li>
    {% endfor %}
  </ul>

<!-- TODO: Pagination links -->
{% if paginator.total_pages > 1 %}
    <div class="center"> <!-- prev: class="pagination" -->
      {% if paginator.previous_page %}
	<b> <a href="{{ paginator.previous_page_path }}" class="previous"> << Previous </a> </b>
	&ensp;
      {% else %}
	<span class="previous"></span>
      {% endif %}
      <span class="page_number ">

	Page: {{ paginator.page }} of {{ paginator.total_pages }}

      </span>
      {% if paginator.next_page %}
	&ensp;
	<b> <a href="{{ paginator.next_page_path }}" class="next">Next >> </a> </b>
      {% else %}
	<span class="next "></span>
      {% endif %}
    </div>
{% endif %}

</article>

